---
page_title: "schemavalidator Provider"
description: |-
  Validate a json document against a json-schema https://json-schema.org/ schema file.
---

# schemavalidator Provider

The schemavalidator Provider is a utility provider for validating object 
schemas against a [json-schema](https://json-schema.org/) schema file as part 
of a Terraform configuration.

This provider requires no configuration. For information on the resources
it provides, see the navigation bar.

The json-schema implementation used can be found [here](https://github.com/santhosh-tekuri/jsonschema/releases/tag/v5.1.1).

{{- /* No schema in this provider, so no need for this: .SchemaMarkdown | trimspace */ -}}